{% extends 'template.twig' %}

{% block title %}
    {% set title = "Blog professionnel" %}
    {{ title }}
{% endblock %}

{% block content %}
	<p>Une erreur est survenue : {{ errorMessage }}</p>
{% endblock %}