{% extends 'template.twig' %}

{% block title %}
    Blog professionnel
{% endblock %}

{% block content %}
     <form action="index.php/home/contact" method="post">
     	<div class="form-group">
     	  	<div class="legend">
     	  		<strong>FORMULAIRE DE CONTACT :</strong><br>
     	  		<span>champs requis <strong>*</strong></span>
     	  	</div>
     	</div>
      	<div class="form-group">
        	<label for="name">Nom<strong>*</strong> :</label>
        	<input type="text" class="form-control" name="name" id="name" placeholder="Nom" required>
      	</div>        
      	<div class="form-group">
        	<label for="first-name">Prénom<strong>*</strong> :</label>
        	<input type="text" class="form-control" name="first_name" id="first-name" placeholder="Prénom" required>
      	</div>      
      	<div class="form-group">
        	<label for="email">Email<strong>*</strong> :</label>
        	<input type="email" class="form-control" name="email"  id="email" placeholder="Email" required>
      	</div>
      	<div class="form-group">
      		<label for="message">Votre message<strong>*</strong> :</label>
      		<textarea class="form-control resizable" rows="5" name="message" id="message" placeholder="Votre message" required></textarea>
      	</div>
      	<div class="form-group">
      		<button type="submit" class="btn btn-default">Envoyer</button>
      	</div>
    </form> 
{% endblock %}